#
sysname {{hostname}}
#
vlan batch {{vlan_batch}}
#
stp enable
#
lldp enable
#
authentication-profile name default_authen_profile
authentication-profile name dot1x_authen_profile
authentication-profile name dot1xmac_authen_profile
authentication-profile name mac_authen_profile
authentication-profile name multi_authen_profile
authentication-profile name portal_authen_profile
#
telnet server enable
telnet server-source all-interface
#
clock timezone BeiJing add 08:00:00
#
diffserv domain default
#
radius-server template default
#
pki realm default
 certificate-check none
#
free-rule-template name default_free_rule
#
portal-access-profile name portal_access_profile
#
aaa
 authentication-scheme default
  authentication-mode local
 authentication-scheme radius
  authentication-mode radius
 authorization-scheme default
  authorization-mode local
 accounting-scheme default
  accounting-mode none
 local-aaa-user password policy administrator
  password history record number 0
  password alert before-expire 7
  undo password alert original 
  password expire 0
 domain default
  authentication-scheme radius
  accounting-scheme default
  radius-server default
 domain default_admin
  authentication-scheme default
  accounting-scheme default
 local-user admin password irreversible-cipher Password
 local-user admin privilege level 15
 local-user admin service-type telnet terminal ssh
 local-user operator password irreversible-cipher Password
 local-user operator privilege level 15
 local-user operator service-type telnet terminal
#
interface  Vlanif {{mgmt_vlan}}
 ip address {{mgmt_ip}} {{mask}}
#
interface Eth-Trunk1
 port link-type trunk
 undo port trunk allow-pass vlan 1
 port trunk allow-pass vlan 2 to 4094
#
interface GigabitEthernet0/0/1
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/2
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/3
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/4
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/5
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/6
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/7
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/8
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/9
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/10
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/11
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/12
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/13
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/14
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/15
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/16
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/17
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/18
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/19
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/20
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/21
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/22
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/23
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/24
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/25
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/26
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/27
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/28
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/29
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/30
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/31
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/32
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/33
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/34
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/35
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/36
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/37
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/38
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/39
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/40
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/41
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/42
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/43
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/44
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/45
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/46
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
interface GigabitEthernet0/0/47
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface GigabitEthernet0/0/48
 port link-type access
 port default vlan {{access_vlan}}
 stp edged-port enable
#
interface XGigabitEthernet0/0/1
#
interface XGigabitEthernet0/0/2
#
interface XGigabitEthernet0/0/3
#
interface XGigabitEthernet0/0/4
 eth-trunk 1
#
interface NULL0
#
undo icmp name timestamp-request receive
#
ip route-static 0.0.0.0 0.0.0.0 {{gateway}}
#
lldp management-address {{mgmt_ip}}
#
stelnet server enable
ssh client first-time enable
ssh server-source all-interface
ssh client cipher aes256_ctr aes128_ctr
ssh client hmac sha2_256
ssh client key-exchange dh_group16_sha512 dh_group15_sha512 dh_group14_sha256 dh_group_exchange_sha256
ssh server dh-exchange min-len 2048
ssh authorization-type default aaa
ssh authorization-type default password
#
user-interface maximum-vty 15
user-interface con 0
 authentication-mode aaa
user-interface vty 0 14
 authentication-mode aaa
 protocol inbound all
user-interface vty 16 20
#
dot1x-access-profile name dot1x_access_profile
#
mac-access-profile name mac_access_profile
#
ops
#
return
#












